@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 300px;
	background-color: #19a15f;
	border: 20px solid #f4b505;
	margin: 0;
	padding: 20px;
	padding-bottom: 10px;
}

button {
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 10px;
	width: 100%;
	margin-top: 10px;
	font-weight: 700;
	border: none;
	cursor: pointer;
}

.tracker {
	background-color: green;
	color: white;
}

.tracking {
	background-color: red;
	color: white;
}

h1 {
	font-size: 2rem;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	margin-top: 0;
	margin-bottom: 8px;
	color: white;
}

h2 {
	margin: 0;
	padding-block: 10px;
	font-size: 1rem;
	color: white;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 15px;
	border: 1px solid black;
	background-color: white;
}

li {
	margin: 0;
	padding: 0;
	padding-block: 8px;
	padding-inline: 20px;
	display: block;
	font-size: 1.2rem;
}

li:nth-child(even) {
	background-color: #d0d0d0;
}
